/* Estiliza a lista de mapas mentais */
ul {
    background-color: orange;
    padding: 20px;
    border-radius: 15px;
    list-style-type: none;
    display: inline-flex; /* Muda para inline-flex */
    flex-direction: column;
    align-items: flex-start; /* Alinha itens à esquerda */
    width: max-content; /* Ajusta à largura do conteúdo */
}

/* Estiliza os itens da lista */
ul li {
    margin: 10px 0;
    width: 100%; /* Garante que os itens ocupem toda a largura */
}

/* Estilo dos botões */
ul li a {
    display: block; /* Muda para block */
    background-color: black;
    color: orange;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    white-space: nowrap; /* Impede quebra de linha */
}
